body{
    background-color: black;
}
form {
    width: 600px;
    margin-left: 10%;
    border: 3px solid red;
    line-height: 2.5em;
    font-weight: bolder;
    color: white;
}

#yy {
    width: 10px;
}

#dd {
    width: 40px;
}
.btn-round {
    background-color: rgb(235, 102, 102);
    padding: 9px 25px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: medium;
    color: white;
  }
  .btn-round:hover {
    color: red;
  }
  
  .btn-30p {
    padding: 20px 20px;
    background-color: rgb(235, 102, 102);
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    font-size: medium;
  }
  p {
    margin: 0.5rem 0;
  }
.btn_div {
  position: absolute;
 padding: 10px 10px; 
margin-left: 900px;

}
.btn_div button{
    padding: 5px 10px;
    margin-left: 50px;
    margin-top: 50px;
    background-color: rgb(235, 102, 102);
    color: white;
    border-radius: 5px;
    font-weight: bolder;
}
.btn_div button:hover{
    color: red;
}
.Ids{
    margin-left:  2px;
 
}

.Ids #id{
    margin-left: 20px;
}
.names{
    margin-left:  40px;
}
.dates{
    margin-left: 3px;
}
.fm{
    margin-left:  35px;
}
.phones{
    margin-left:  4px;
}
.emails{
    margin-left:  20px;
}
.addres, .addres1, .addres2{
    margin-left: 35px;
}
.Ids , .pws, .names, .dates, .phones, .fm, .con,
.emails , .addres, .addres1 .addres2{
    padding-left: 30px;
}


.UpperHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin: auto;
    height: 70px;
  }
  .nav-link {
    list-style: none;
  }
  .nav-link li {
    display: inline-block;
    padding: 30px;
  }
  .nav-link li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
  }
  .nav-link li a:hover {
    color: red;
  }
  /* ----------- */
  .icon {
    cursor: pointer;
    margin-top: 15%;
  }

.content{
    display: grid;
    grid-template-columns: auto 20% 20%;
}
.basic{
    color: white;
}
.special{
    color: white;
}